.highlight {
  background-color: #5881cc;
}

.green-highlight {
  color: #008000;
  font-size: 40px;
}

.red-highlight {
  color: #ff0000;
  font-size: 25px;
}

.hand-icon {
  cursor: pointer;
}

.hand-icon:hover {
  font-size: 18px;
}

.nav-link.active {
  border-bottom: 2px solid #ffffff;
}
